
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    margin-top: 100px;
    background-color: rgba(15, 8, 3, 0.321);
    display: flex;
    justify-content: center;
}

.container {
    max-width: 650px;
    background-color: rgba(108, 108, 136, 0.927);
    border-radius: 5px;
    border: 2px rgb(140, 137, 151);
    padding: 10px;
    border-style: ridge;
}

ul {
    padding: 0;
    margin-bottom: 0;

}

li.containerLi{
    font-size: 20px;
    font-family: "Courier New", monospace;
}

ul li {
    border: 1px solid rgb(156, 143, 190);
    border-radius: 8px;
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
    margin-top: 5rem;
    font-family: "Courier New", monospace;
    color: rgb(34, 28, 56);
}

.list {
    width: 39rem;
}

input {
    border: none;
    width: 100%;
    background-color: rgb(182, 168, 233);
    opacity: 1.0;
}
p {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 0%;
    padding: 2px;
    font-size: 13px;
    font-family: "Courier New", monospace;
    color: #313586;
}
.stick {
    background-color: rgb(156, 143, 190);
    width: 39rem;
    height: 5px;
    border: 1px solid rgb(138, 127, 168);
    border-top: 0;
    margin-left: 8px;
}

.stick2 {
    background-color: rgb(156, 143, 190);
    width: 38rem;
    height: 5px;
    border: 1px solid rgb(138, 127, 168);
    border-top: 0;
    margin-left: 16px;
}
.containerLi button {
    border: 1px rgba(108, 108, 136, 0.927);
    background-color: transparent;
    color:  rgba(108, 108, 136, 0.927);
    transition: color 0.5s;
}
.containerLi:hover button{
    color: rgb(32, 22, 58);
  }